extends layout

block content
  header 
    h1= title
    a(href="/new") 
      button Écris un message !
  ul.messages
    each message in messages
      li.card 
        p.text= message.text
        p.user= message.user
        p.added= message.added
